.nunito {
    font-family: nunito;
}

.btn-green {
    background-color: #27b8f7;
    color: white;
    border-radius: 2px;
    font-family: buttonfont;
}

    .btn-green:hover {
        background-color: #54c5f6;
        color: white;
    }

    .btn-green:visited {
        background-color: #54c5f6;
        color: white;
    }

    .btn-green:focus {
        background-color: #27b8f7;
        color: white;
    }

    .btn-green:active {
        background-color: #54c5f6;
        color: white;
    }

.btn:focus, .btn:focus:active, .btn.active:focus {
    color: white;
}

/*#anasayfa {
    position: absolute;
    left: 44%;
    top: 18%;
    display: flex;
    margin: 0;
    padding: 0;
}

    #anasayfa a {
        position: relative;
        display: block;
        margin: 0 25px;
        color: #6d5cae;
        font-size: 24px;
        transition: .5s;
        padding: 5px 10px;
    }

        #anasayfa a:hover {
            color: #fff;
            background: #6d5cae;
        }

        #anasayfa a:before {
            content: '';
            position: absolute;
            bottom: 12px;
            left: 12px;
            width: 12px;
            height: 12px;
            border: 3px solid #6d5cae;
            border-width: 0 0 3px 3px;
            transition: .5s;
            opacity: 0;
        }

        #anasayfa a:hover:before {
            bottom: -12px;
            left: -12px;
            opacity: 1;
        }

        #anasayfa a:after {
            content: '';
            position: absolute;
            top: 12px;
            right: 12px;
            width: 12px;
            height: 12px;
            border: 3px solid #6d5cae;
            border-width: 3px 3px 0 0;
            transition: .5s;
            opacity: 0;
        }

        #anasayfa a:hover:after {
            top: -12px;
            right: -12px;
            opacity: 1;
        }*/

.centerform {
    width: 35%;
    top: 5%;
    margin-top: calc(3% - 10px);
    left: 35%;
    padding: 10px;
    min-height: calc(74vh - 60px)
}
.footer{
    height:50px;
}
#uyarı {
    color: red;
}
#gender {
    padding-top: 5px;
}
#footer{
    bottom:0px;
}

.hiddenthing {
    display: none;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width:1611px) {
    .centerform {
        width: 44%;
        left: 28%;
    }


}


#Faketable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 50vw;
    padding: 1px;
    border-bottom: 2px solid #e6e6e6;
}


#send {
    width: 150px;
    height: 50px;
    border: none;
}