@media screen and (max-width:1600.25px) {
    #contentpad {
        padding-top: 39px;
    }

    #qbutton1 {
        margin-top: 5px;
    }
}

.nunito {
    font-family: nunito;
}

.btn-red {
    background-color: #ff1c1c;
    color: white;
    border-radius: 2px;
    font-family: buttonfont;
}

    .btn-red:hover {
        background-color: #ca5c5c;
        color: white;
    }

    .btn-red:visited {
        background-color: #ca5c5c;
        color: white;
    }

    .btn-red:focus {
        background-color: #ff1c1c;
        color: white;
    }

    .btn-red:active {
        background-color: #ca5c5c;
        color: white;
    }


.btn-green {
    background-color: #27b8f7;
    color: white;
    border-radius: 2px;
    font-family: buttonfont;
}

    .btn-green:hover {
        background-color: #54c5f6;
        color: white;
    }

    .btn-green:visited {
        background-color: #54c5f6;
        color: white;
    }

    .btn-green:focus {
        background-color: #27b8f7;
        color: white;
    }

    .btn-green:active {
        background-color: #54c5f6;
        color: white;
    }

.btn:focus, .btn:focus:active, .btn.active:focus {
    color: white;
}


.btn-new {
    background-color: gray;
    color: aliceblue;
    padding-bottom: calc(4px + 2 * ((100vw - 1280px) /640));
    padding-top: calc(4px + 2 * ((100vw - 1280px) /640));
    padding-left: calc(15px + 2 * ((100vw - 1280px) /640));
    padding-right: calc(15px + 2 * ((100vw - 1280px) /640));
}

    .btn-new:hover {
        color: white;
        background-color: darkgray;
    }

.btn-complete {
    background-color: #a1bd76;
    border-color: #a1bd76;
    padding-bottom: calc(4px + 2 * ((100vw - 1280px) /640));
    padding-top: calc(4px + 2 * ((100vw - 1280px) /640));
    padding-left: calc(15px + 2 * ((100vw - 1280px) /640));
    padding-right: calc(15px + 2 * ((100vw - 1280px) /640));
}

    .btn-complete:hover {
        color: white;
        background-color: #c4df9b;
        border-color: #a1bd76;
    }

.btn-danger {
    padding-bottom: calc(4px + 2 * ((100vw - 1280px) /640));
    padding-top: calc(4px + 2 * ((100vw - 1280px) /640));
    padding-left: calc(15px + 2 * ((100vw - 1280px) /640));
    padding-right: calc(15px + 2 * ((100vw - 1280px) /640));
}

    .btn-danger:hover {
        color: white;
        background-color: #fc8683;
    }

.btn-info {
    padding-bottom: calc(4px + 2 * ((100vw - 1280px) /640));
    padding-top: calc(4px + 2 * ((100vw - 1280px) /640));
    padding-left: calc(15px + 2 * ((100vw - 1280px) /640));
    padding-right: calc(15px + 2 * ((100vw - 1280px) /640));
}

    .btn-info:hover {
        color: white;
        background-color: #555e67;
    }

#fontsize {
    font-size: calc(10px + 4 * ((100vw - 1280px) /640));
    margin-bottom: calc(5px + 5 * ((100vw - 1280px) /640));
    font-family: nunito;
}

#fontsize2 {
    font-size: calc(12px + 3 * ((100vw - 1280px) /640));
    margin-top: calc(5px + 5 * ((100vw - 1600px) /320));
    margin-bottom: calc(5px + 5 * ((100vw - 1600px) /320));
}

#picture {
    width: 27vw;
    height: 29.6vh;
}

#contentpad {
    padding-top: calc(37px + 21 * ((100vw - 1600px) /320));
    padding-bottom: calc(60px + 9 * ((100vw - 1600px) /320));
}

#marginbottom10 {
    margin-bottom: calc(5px + 5 * ((100vw - 1600px) /320));
}

@media screen and (max-width:1700.25px) {
    #chart2 {
        width: 450px;
    }
}

#time1 {
    padding-top: 2px;
    top: 0px;
}

#endbutton {
    font-size: 12px;
    padding: 2px 8px 2px 8px;
}

#chart_container {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#chart {
    position: relative;
    left: 40px;
}

#y_axis {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 40px;
}

#preview {
    margin-top: 10px;
    padding-left: 25px;
}

#chart2 {
    position: relative;
    left: 40px;
}

#y_axis2 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 40px;
}

#preview2 {
    margin-top: 10px;
    padding-left: 25px;
}

#header1 {
    margin-top: 1px;
    font-size: calc(12px + 3 * ((100vw - 1400px) /520));
    margin-bottom: calc(5px + 5 * ((100vw - 1600px) /320));
}

#dropdown1 {
    padding: 0px;
}

#dropdown2 {
    padding: 0px;
}

#dropdown3 {
    padding: 0px;
}

#dropdown4 {
    padding: 0px;
}

#scroll {
    overflow-y: scroll;
    height: 98%;
    padding-right: 5px;
}

/*BURAYA KADAR OLAN KISIM RESPONSIVE ILE ALAKASI YOK (Belki y_axisler)*/

#Temp {
    margin-top: 3px;
}

#personall {
    padding: 2px;
    margin-left: calc(109px + 5 * ((100vw - 1600px) /320));
    margin-top: calc(10px + 5 * ((100vw - 1600px) /320));
    margin-bottom: calc(15px + 12 * ((100vw - 1600px) /320));
}

#person1 {
    padding: 2px;
    margin-left: calc(15px + 10 * ((100vw - 1600px) /320));
    margin-top: calc(10px + 5 * ((100vw - 1600px) /320));
    margin-bottom: calc(15px + 12 * ((100vw - 1600px) /320));
}

#person2 {
    padding: 2px;
    margin-left: calc(15px + 10 * ((100vw - 1600px) /320));
    margin-top: calc(10px + 5 * ((100vw - 1600px) /320));
    margin-bottom: calc(15px + 12 * ((100vw - 1600px) /320));
}

#person3 {
    padding: 2px;
    margin-left: calc(15px + 10 * ((100vw - 1600px) /320));
    margin-top: calc(10px + 5 * ((100vw - 1600px) /320));
    margin-bottom: calc(15px + 12 * ((100vw - 1600px) /320));
}

#event1 {
    padding: 0px;
    margin-left: calc(32px + 5 * ((100vw - 1600px) /320));
    margin-bottom: calc(5px + 10 * ((100vw - 1600px) /320));
}

#event2 {
    padding: 0px;
    margin-left: calc(19px + 10 * ((100vw - 1600px) /320));
    margin-bottom: calc(5px + 10 * ((100vw - 1600px) /320));
}

#event3 {
    padding: 0px;
    margin-left: calc(19px + 10 * ((100vw - 1600px) /320));
    margin-bottom: calc(5px + 10 * ((100vw - 1600px) /320));
}

#event4 {
    padding: 0px;
    margin-left: calc(19px + 10 * ((100vw - 1600px) /320));
    margin-bottom: calc(5px + 10 * ((100vw - 1600px) /320));
}

#event5 {
    padding: 0px;
    margin-left: calc(19px + 10 * ((100vw - 1600px) /320));
    margin-bottom: calc(5px + 10 * ((100vw - 1600px) /320));
}

#event6 {
    padding: 0px;
    margin-left: calc(19px + 10 * ((100vw - 1600px) /320));
    margin-bottom: calc(5px + 10 * ((100vw - 1600px) /320));
}

#sound1 {
    padding: 0px;
    margin-top: calc(10px + 5 * ((100vw - 1600px) /320));
}

#sound2 {
    padding: 0px;
    margin-top: calc(10px + 5 * ((100vw - 1600px) /320));
}

#sound3 {
    padding: 0px;
    margin-top: calc(10px + 5 * ((100vw - 1600px) /320));
}

#sound4 {
    padding: 2px;
    margin-top: 15px;
}

#sound5 {
    padding: 0px;
    margin-top: calc(14px + 11 * ((100vw - 1600px) /320));
    margin-bottom: calc(0px + 5 * ((100vw - 1600px) /320));
}

#sound6 {
    padding: 0px;
    margin-top: calc(14px + 11 * ((100vw - 1600px) /320));
    margin-bottom: calc(0px + 5 * ((100vw - 1600px) /320));
}

#sound7 {
    padding: 0px;
    margin-top: calc(14px + 11 * ((100vw - 1600px) /320));
    margin-bottom: calc(0px + 5 * ((100vw - 1600px) /320));
}

#sound8 {
    padding: 2px;
    margin-top: 20px;
}

#qbutton1 {
    margin-top: calc(5px + 20 * ((100vw - 1600px) /320));
    margin-bottom: calc(5px + 5 * ((100vw - 1600px) /320));
}

#qbutton2 {
    margin-bottom: calc(5px + 5 * ((100vw - 1600px) /320));
}

#qbutton001 {
    margin-top: calc(30px + 20 * ((100vw - 1600px) /320));
    margin-bottom: calc(20px + 10 * ((100vw - 1600px) /320));
}

#qbutton002 {
    margin-bottom: calc(20px + 10 * ((100vw - 1600px) /320));
}

#qbutton01 {
    margin-top: calc(10px + 10 * ((100vw - 1600px) /320));
    margin-bottom: calc(15px + 5 * ((100vw - 1600px) /320));
}

#qbutton02 {
    margin-bottom: calc(15px + 5 * ((100vw - 1600px) /320));
}

#commentcard {
    width: 27vw;
    height: 52.9vh;
}

#timecard {
    width: 27vw;
}

#header {
    position: absolute;
    top: calc(5px + 10 * ((100vw - 1600px) /320));
}

#shimmerbutton {
    position: absolute;
    top: calc(-48px + 10 * ((1920px - 100vw) /320));
    left: 15px;
}

#endivbutton {
    position: absolute;
    top: calc(-48px + 10 * ((1920px - 100vw) /320));
    right: 15px;
}

/* RESPONSIVE DESIGN  FOR WIDTH LESS THAN 1700*/