<body class="fixed-header ">
	<!-- BEGIN SIDEBPANEL-->
	<nav class="page-sidebar" data-pages="sidebar">
		<!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
		<div class="sidebar-overlay-slide from-top" id="appMenu">
			<div class="row">
				<div class="col-xs-6 no-padding">
					<a href="#" class="p-l-40">
						<img src="../Images/demo/social_app.svg" alt="socail">
					</a>
				</div>
				<div class="col-xs-6 no-padding">
					<a href="#" class="p-l-10">
						<img src="../Images/demo/email_app.svg" alt="socail">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 m-t-20 no-padding">
					<a href="#" class="p-l-40">
						<img src="../Images/demo/calendar_app.svg" alt="socail">
					</a>
				</div>
				<div class="col-xs-6 m-t-20 no-padding">
					<a href="#" class="p-l-10">
						<img src="../Images/demo/add_more.svg" alt="socail">
					</a>
				</div>
			</div>
		</div>
		<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
		<!-- BEGIN SIDEBAR MENU HEADER-->
		<div class="sidebar-header">
			<img src="../Images/logo_white.png" alt="logo" class="brand" data-src="../Images/logo_white.png" data-src-retina="../Images/logo_white_2x.png" width="78" height="22">
			<div class="sidebar-header-controls">
				<button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu">
					<i class="fa fa-angle-down fs-16"></i>
				</button>
				<button type="button" class="btn btn-link hidden-md-down" data-toggle-pin="sidebar">
					<i class="fa fs-12"></i>
				</button>
			</div>
		</div>
		<!-- END SIDEBAR MENU HEADER-->
		<!-- START SIDEBAR MENU -->
		<div class="sidebar-menu">
			<!-- BEGIN SIDEBAR MENU ITEMS-->
			<ul class="menu-items">
				<li class="m-t-30 ">
					<a href="../#!/loggedin" class="detailed">
						<span class="title">Hasta Listesi</span>
					</a>
					<span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
				</li>
				<li class="">
					<a href="../#!/patregister" class="detailed">
						<span class="title">Hasta Kaydı</span>
					</a>
					<span class="icon-thumbnail"><i class="pg-plus"></i></span>
				</li>
				<li class="">
					<a href="social.html"><span class="title">Seans Ekle</span></a>
					<span class="icon-thumbnail"><i class="pg-calender"></i></span>
				</li>
				<li>
					<a href="javascript:;">
						<span class="title">Calendar</span>
						<span class=" arrow"></span>
					</a>
					<span class="icon-thumbnail"><i class="pg-calender"></i></span>
					<ul class="sub-menu">
						<li class="">
							<a href="calendar.html">Basic</a>
							<span class="icon-thumbnail">c</span>
						</li>
						<li class="">
							<a href="calendar_lang.html">Languages</a>
							<span class="icon-thumbnail">L</span>
						</li>
						<li class="">
							<a href="calendar_month.html">Month</a>
							<span class="icon-thumbnail">M</span>
						</li>
						<li class="">
							<a href="calendar_lazy.html">Lazy load</a>
							<span class="icon-thumbnail">La</span>
						</li>
						<li class="">
							<a href="http://pages.revox.io/dashboard/2.1.0/doc/#calendar" target="_blank">Documentation</a>
							<span class="icon-thumbnail">D</span>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="builder.html">
						<span class="title">Builder</span>
					</a>
					<span class="icon-thumbnail"><i class="pg-layouts"></i></span>
				</li>
				<li>
					<a href="javascript:;">
						<span class="title">Forms</span>
						<span class=" arrow"></span>
					</a>
					<span class="icon-thumbnail"><i class="pg-form"></i></span>
					<ul class="sub-menu">
						<li class="">
							<a href="form_elements.html">Form Elements</a>
							<span class="icon-thumbnail">fe</span>
						</li>
						<li class="">
							<a href="form_layouts.html">Form Layouts</a>
							<span class="icon-thumbnail">fl</span>
						</li>
						<li class="">
							<a href="form_wizard.html">Form Wizard</a>
							<span class="icon-thumbnail">fw</span>
						</li>
					</ul>
				</li>

				<li class="">
					<a href="javascript:;">
						<span class="title">Menu Levels</span>
						<span class="arrow"></span>
					</a>
					<span class="icon-thumbnail"><i class="pg-menu_lv"></i></span>
					<ul class="sub-menu">
						<li>
							<a href="javascript:;">Level 1</a>
							<span class="icon-thumbnail">L1</span>
						</li>
						<li>
							<a href="javascript:;">
								<span class="title">Level 2</span>
								<span class="arrow"></span>
							</a>
							<span class="icon-thumbnail">L2</span>
							<ul class="sub-menu">
								<li>
									<a href="javascript:;">Sub Menu</a>
									<span class="icon-thumbnail">Sm</span>
								</li>
								<li>
									<a href="ujavascript:;">Sub Menu</a>
									<span class="icon-thumbnail">Sm</span>
								</li>
							</ul>
						</li>
					</ul>
				</li>

			</ul>
			<div class="clearfix"></div>
		</div>
		<!-- END SIDEBAR MENU -->
	</nav>
	<!-- END SIDEBAR -->
	<!-- END SIDEBPANEL-->
	<!-- START PAGE-CONTAINER -->
	<div class="page-container bg-white full-height">
		<!-- START HEADER -->
		<!-- START MOBILE CONTROLS -->
		<!-- LEFT SIDE -->
		<div class="pull-up overlayer hidden-lg-up">
			<!-- START ACTION BAR -->
			<div class="p-l-10 p-t-15">
				<a href="#" class="btn-link text-master toggle-sidebar hidden-lg hidden-md pg-menu" data-toggle="sidebar">
				</a>
			</div>
			<!-- END ACTION BAR -->
		</div>
		<!-- RIGHT SIDE -->
		<!--<div class="top-right overlayer hidden-lg-up">
			 START ACTION BAR
			<div class="p-r-15 p-t-15">
				<a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
				</a>
			</div>
			 END ACTION BAR
		</div>-->
		<!-- END MOBILE CONTROLS -->
		<!-- END HEADER -->
		<!-- START PAGE CONTENT WRAPPER -->
		<div class="page-content-wrapper full-height">
			<!-- START PAGE CONTENT -->
			<div class="content full-height">
				<div class="col-md-4 col-md-push-4 col-lg-2 col-lg-push-5 col-sm-6 col-sm-push-3">
					<label>Tarih</label>
					<p class="input-group" ng-click="trial()" >
						<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" id="Inputdate" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				<br />
				<!-- START CALENDAR -->
				<div id="myCalendar"  style="height:83vh;"></div>
				<!-- END CALENDAR -->
				<!-- START EVENT MANAGER -->
				<!-- START Calendar Events Form -->
				<div class="quickview-wrapper calendar-event" id="calendar-event">
					<div class="view-port clearfix" id="eventFormController">
						<div class="view bg-white">
							<div class="scrollable">
								<div class="p-l-30 p-r-30 p-t-20">
									<a class="pg-close text-master link pull-right" data-toggle="quickview" data-toggle-element="#calendar-event" href="#"></a>
									<h4 id="event-date">&amp;</h4>
									<div class="m-b-20">
										<i class="fa fa-clock-o"></i>
										<span id="lblfromTime"></span> to
										<span id="lbltoTime"></span>
									</div>
								</div>
								<div class="p-t-15">
									<input id="eventIndex" name="eventIndex" type="hidden">
									<div class="form-group-attached">
										<div class="form-group form-group-default ">
											<label>Title</label>
											<input type="text" class="form-control" id="txtEventName" name="" placeholder="event name">
										</div>
										<div class="row clearfix">
											<div class="col-sm-9">
												<div class="form-group form-group-default">
													<label>Location</label>
													<input type="text" class="form-control" id="txtEventLocation" placeholder="name of place" name="">
												</div>
											</div>
											<div class="col-sm-3">
												<div class="form-group form-group-default">
													<label>Code</label>
													<input type="text" class="form-control" id="txtEventCode" name="lastName">
												</div>
											</div>
										</div>
										<div class="row clearfix">
											<div class="form-group form-group-default">
												<label>Note</label>
												<textarea class="form-control" placeholder="description" id="txtEventDesc"></textarea>
											</div>
										</div>
										<div class="row clearfix cursor">
											<div class="form-group form-group-default" data-navigate="view" data-view-port="#eventFormController" data-view-animation="push-parrallax">
												<label>Alerts</label>
												<div class="p-t-10">
													<span class="pull-right p-r-10 p-b-5"><i class="pg-arrow_right"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="p-l-30 p-r-30 p-t-30">
									<button id="eventSave" class="btn btn-warning btn-cons">Save Event</button>
									<button id="eventDelete" class="btn btn-white">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="view bg-white">
							<div class="navbar navbar-default navbar-sm">
								<div class="navbar-inner">
									<a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#eventFormController" data-view-animation="push-parrallax">
										<i class="pg-arrow_left"></i>
									</a>
									<div class="view-heading">
										<span class="font-montserrat text-uppercase fs-13">Alerts</span>
									</div>
									<a href="#" class="inline action p-r-10 pull-right link text-master">
										<i class="pg-search"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END Calendar Events Form -->
				<!-- START EVENT MANAGER -->
			</div>
			<!-- END PAGE CONTENT -->
			<!-- START COPYRIGHT -->
			<!-- START CONTAINER FLUID -->
			<!-- END COPYRIGHT -->
		</div>
		<!-- END PAGE CONTENT WRAPPER -->
	</div>
	<!-- END PAGE CONTAINER -->
	
	
	<script src="../Plugins/interactjs/interact.min.js" type="text/javascript"></script>
	<script src="../Plugins/moment/moment-with-locales.min.js"></script>
	<script src="../Plugins/Pages/js/pages.calendar.js"></script>
	<script src="../Plugins/Assets/js/calendar.js" type="text/javascript"></script>
	
	<div ng-init="init()"></div>

	<!-- END PAGE LEVEL JS -->
</body>

 