<!DOCTYPE html>
<html>
<head>
	<title>VR Panel Register Page</title>
</head>
<body class="fixed-header ">
	<link href="../Styles/register.css" rel="stylesheet" type="text/css" />
	<div class="login-wrapper">
		<div class="bg-pic bg-picb"></div>
		<div class="mycopyright p-t-0 p-b-0"><h4 class="text-center myrenk" style="font-size:16px;">©2018 Metaverse Yazılım. Tüm hakları saklıdır.</h4></div>
		<div class="myregister">
			<div class="d-flex justify-content-center flex-column full-height ">
				<div id="logovr">
					<img src="../Images/vr-social-logo-oneline-medium.png" height="41" width="263" />
				</div>
				<div class="m-b-25 m-t-0"><p class="m-b-0 m-t-0 p-b-0 p-t-0 nunito" style="font-size:16px;">Kayıt için formu doldurun.</p></div>
				<form name="form" ng-submit="userRegister(Register)" id="form-register" class="p-t-0" role="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group form-group-default">
								<label>Adı</label>
								<input type="text" ng-model="Register.Firstname" name="firstname" id="firstname" placeholder="Adı" class="form-control" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-group-default">
								<label>Soyadı</label>
								<input type="text" ng-model="Register.Lastname" name="lastname" id="lastname" placeholder="Soyadı" class="form-control" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-group-default">
								<label>Kullanıcı Adı</label>
								<input type="text" ng-model="Register.Username" name="username" id="username" placeholder="Kullanıcı Adı" class="form-control" required>
								<div ng-class="{'hiddenthing':(hiddenthing == 2||hiddenthing==0||hiddenthing==3)}">
									<p class="alert-danger">Bu kullanıcı adı alınmış.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-group-default">
								<label>Şifre</label>
								<input type="password" ng-model="Register.Password" name="password" id="password" placeholder="Şifre" class="form-control" required ng-minlength="8">
								<h6 id="uyarı" ng-show="(!form.password.$valid) &&(Register.Password!= '')">Şifre en az 8 karakter olmalı.</h6>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-group-default">
								<label>Şifre (tekrar)</label>
								<input type="password" ng-model="Register.Password_confirm" name="password_confirm" id="password_confirm" placeholder="Şifreyi tekrarlayınız" class="form-control" required>
								<h6 id="uyarı" ng-show="Register.Password != Register.Password_confirm &&Register.Password_confirm!= null">Şifreler eşleşmeli.</h6>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-group-default">
								<label>E-posta</label>
								<input type="email" ng-model="Register.Email" id="email" name="email" placeholder="VRsocial@example.com" class="form-control" required>
								<div ng-class="{'hiddenthing':(hiddenthing == 1||hiddenthing==0||hiddenthing==3)}">
									<p class="alert-danger">E-posta adresi daha önce sistemde kaydı var.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-group-default">
								<label>Ürün Anahtarı</label>
								<input type="text" ng-model="Register.Key" id="key" name="key" placeholder="Anahtarı giriniz" class="form-control" required>
								<div ng-class="{'hiddenthing':(hiddenthing == 2||hiddenthing==0||hiddenthing==1)}">
									<p class="alert-danger">Ürün anahtarı hatalı.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 no-padding row" id="check">
						<div class="col" style="width:15px;float: left;">
							<input type="checkbox" checked="checked" name="remember" style="margin-top:8px; margin-bottom:0px;" ng-model="Register.check">
						</div>
						<div class="col" style="width:426px;float: left;">
							<p class="hinted-text small inline nunito" style="font-size:10px; margin-bottom:0px; margin-left:5px;"><a href="" data-toggle="modal" data-target="#PrivacyModal" class="text-info text-success">Koşulları, Veri İlkesini ve Çerezler İlkesini</a> kabul ediyorum.<br /> Bizden SMS Bildirimleri alabilir ve bu bildirimleri istediğiniz zaman durdurabilirsiniz.</p>
						</div>
					</div>
					<div class="">
						<button class="btn btn-green m-t-0" type="submit">Kaydol</button>
					</div>
					<div class="row">
						<div class="col-md-6 no-padding text-left" id="findus">
							<a href="../#/login" class="text-info small nunito">Giriş Yap</a>
						</div>
						<div class="col-md-6 no-padding text-right" id="findus">
							<a href="http://metaverse.com.tr/#iletisim" class="text-info small nunito">Bize Ulaşın</a>
						</div>
					</div>
				</form>
				<!-- Form SON -->
			</div>
		</div>

	</div>

	<!-- PRIVACY MODAL BAŞLANGIÇ-->
	<div id="PrivacyModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div id="Sure" class="modal-content">
				<!-- BAŞLIK BAŞLANGIÇ-->
				<div class="modal-header text-left">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 id="forgothead">Kullanım Şartları ve Gizlilik Politikası</h4>
					<hr style="margin-top:18px; margin-bottom:25px;" />
				</div>
				<!-- BAŞLIK SON-->
				<!-- İÇERİK BAŞLANGIÇ-->
				<div>
					<div class="modal-body">
						<div class="scrollable" style="height:250px;">
							<p class="scrollable">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sollicitudin est, in gravida lectus. Sed neque arcu, pharetra a felis eget, efficitur feugiat odio. Integer et vestibulum leo. Nullam posuere fringilla felis sit amet cursus. Proin aliquet leo rhoncus nulla faucibus dapibus. Suspendisse potenti. Suspendisse potenti.

								Aenean malesuada sollicitudin quam eu mattis. Nam ornare metus eget felis faucibus, nec egestas turpis tempor. Integer sit amet est vel justo varius venenatis et non mi. Aliquam pretium mauris a lectus maximus molestie. Nullam quis pretium nunc, eu lobortis ante. Donec sed justo ultrices, scelerisque ipsum sit amet, malesuada eros. Nulla in tristique felis. Nulla dignissim, metus sit amet porta dapibus, dolor nisi pharetra mauris, sit amet congue libero nisi id turpis. Quisque sit amet velit feugiat, dapibus quam et, pulvinar nulla. Aenean sit amet ultrices elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam eu quam magna. Nulla sit amet gravida quam. Curabitur at risus lobortis, pretium diam ut, iaculis dui. In auctor nibh fermentum, congue tellus sed, mollis nulla.

								Donec sit amet finibus massa, et finibus nunc. Etiam suscipit massa leo, nec mattis massa ultricies sed. Vivamus felis nunc, sollicitudin eget ultrices ac, ultrices id lorem. Aliquam a velit tristique, ultrices erat eu, porta erat. Mauris at lacus vel tortor auctor tincidunt. Etiam elementum lectus id lacinia tristique. Praesent fringilla est vel blandit viverra. Proin mi justo, convallis id dignissim at, gravida eget augue. Vivamus at imperdiet eros. Etiam eu nisl accumsan, gravida leo vel, scelerisque turpis.

								Nam consectetur risus ac est varius hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce et metus orci. Etiam bibendum luctus ligula id tincidunt. Proin sed diam mollis, porta est commodo, cursus tellus. Maecenas tempus consequat risus eget mollis. Morbi sit amet mollis leo. Maecenas varius purus enim, eget ultrices dui dictum et. Nam sit amet velit eleifend, posuere lectus sit amet, pharetra lorem. Pellentesque non purus auctor, porttitor elit eget, viverra magna. Donec massa lacus, rutrum sed semper ut, lacinia non eros. Donec semper massa at eros auctor pharetra. Pellentesque vitae tristique velit, vitae facilisis augue.

								Cras vel ipsum sed mauris suscipit vulputate. Mauris vitae mattis turpis. Fusce ultrices, velit ac tincidunt commodo, lectus mauris placerat lacus, non iaculis nibh nibh nec dui. Quisque a eleifend purus, id vulputate eros. Vestibulum id est eget sapien pellentesque commodo a ut magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus auctor nibh quis nulla tincidunt, non ullamcorper lacus blandit. Duis turpis enim, mollis id lectus tristique, commodo porttitor velit. Vivamus eget ex porta, vehicula ipsum nec, porta enim. Sed eu velit id tortor bibendum hendrerit. Aenean efficitur risus a lacinia finibus. Phasellus molestie ex non eros euismod, et ultrices mi tempor. Suspendisse potenti. Quisque bibendum, nulla eleifend laoreet ultrices, ipsum sem interdum ex, a tristique nulla est at elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam orci velit, euismod ut aliquet a, condimentum eget eros.
							</p>
						</div>
					</div>
					<div class="modal-footer text-center">
						<button type="submit" class="btn-green" data-dismiss="modal" id="send">Kapat</button>
					</div>
				</div>
				<!-- İÇERİK İÇİN FORM SON-->
			</div>
		</div>
	</div>
	<!-- PRIVACY MODAL SON-->
</body>
</html>
