<body class="fixed-header ">
	<link media="screen" type="text/css" rel="stylesheet" href="../Plugins/Assets/rickshaw/rickshaw.min.css">
	<link media="screen" type="text/css" rel="stylesheet" href="../Plugins/Assets/rickshaw/src/css/graph.css">
	<link href="../Styles/sessionliveshopping.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../Plugins/Assets/d3/d3.js"></script>
	<script type="text/javascript" src="../Plugins/Assets/rickshaw/vendor/d3.layout.min.js"></script>
	<script type="text/javascript" src="../Plugins/Assets/rickshaw/rickshaw.min.js"></script>

	<!-- START PAGE-CONTAINER -->
	<div class="page-container" style="height:92vh" id="page">
		<!-- START PAGE CONTENT WRAPPER -->
		<div class="page-content-wrapper ">
			<div class="container-fluid col-sm-12 no-margin" id="header">
				<div class="col-12">
					<p class="text-center nunito" style="font-size:15px;">
						<b>Senaryo:</b> Alışveriş &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<b>Danışan:</b> {{initial.patname}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<b>Seans Süresi:</b> <span id="timer"></span>
					</p>
				</div>
			</div>
			<!-- START PAGE CONTENT -->
			<div class="content" id="contentpad">
				<!-- START CONTAINER FLUID -->
				<div class=" container-fluid container-fixed-lg">
					<div class="row">
						<!-- İlk SÜTUN BAŞLANGIÇ-->
						<div class="col-lg-4 ">
							<div id="shimmerbutton">
								<button class="btn btn-green" id="endbutton" type="button" ng-click="dataconnect()">Sensöre Bağlan</button>
							</div>
							<!-- İlk Resim BAŞLANGIÇ-->
							<p>
								<img src="../Images/Store_Pers_02.png" id="picture" />
							</p>
							<!-- İlk Resim SON -->
							<!-- Yorum BAŞLANGIÇ !-->
							<div class="row m-t-20">
								<div class="col-lg-10">
									<div class="view chat-view bg-white clearfix" id="commentcard">
										<!-- Başlık BAŞLANGIÇ !-->
										<div class="navbar-inner">
											<div class="view-heading">
												<h6 class="text-center" style="font-size:15px; font-family:buttonfont;">Notlar</h6>
											</div>
											<br />
										</div>
										<!-- Başlık SON  !-->
										<!-- Yapılan Yorumlar BAŞLANGIÇ  !-->
										<div class="chat-inner" id="my-conversation">
											<div class="message clearfix" ng-repeat="element in messages">
												<div ng-class="{true:'pull-left', false:'pull-right'}[element.myvar]">
													{{element.ctime}}
												</div>
												<div ng-class="{true:'chat-bubble from-me', false:'chat-bubble from-them'}[element.myvar]">
													{{ element.msg }}
												</div>
											</div>
										</div>
										<!-- Yapılan Yorumlar SON  !-->
										<!-- Yorum Giriş BAŞLANGIÇ  !-->
										<div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
											<form name="form2" ng-submit="entercomment(cform)" id="form-question" role="form">
												<div class="row">
													<div class="col-lg-1 p-t-15">
														<a ng-click="entercomment(cform)" class="link text-master"><i class="fa fa-plus-circle"></i></a>
													</div>
													<div class="col-lg-11 no-padding">
														<input ng-model="cform.comment" type="text" class="form-control chat-input " data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Yorum Yaz">
													</div>
												</div>
											</form>
										</div>
										<!-- Yorum Giriş SON  !-->
									</div>
								</div>
							</div>
							<!-- Yorum Son !-->
						</div>
						<!-- İlk SÜTUN SON -->
						<!-- İkinci SÜTUN BAŞLANGIÇ-->
						<div class="col-lg-4">
							<!-- Avatar Seçimi&Dropdown BAŞLANGIÇ -->
							<div class="card card-default">
								<div class="card-block">
									<!-- DAVRANIŞ SEÇİMİ BAŞLANGIÇ -->
									<div><h6 class="text-center nunito" id="header1">Katılımcı için davranış türünü seçiniz</h6></div>
									<div class="row">
										<div class="col-sm-6">
											<div class="row">
												<div class="col-lg-4 col-lg-push-4">
													<div class="form-group text-center" id="marginbottom10">
														<button id="btn1" class="btn" type="button" ng-click="choosesup()" title="İlgili">
															<img ng-src="{{findsmile(settings.condition)}}" width="32" height="32" />
														</button>
													</div>
												</div>
												<div class="col-lg-4 col-lg-push-4">
													<div class="form-group text-center" id="marginbottom10">
														<button id="btn2" class="btn" type="button" ng-click="chooserej()" title="Reddedici">
															<img ng-src="{{findangry(settings.condition)}}" width="32" height="32" />
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="row">
												<div class="col-lg-4">
													<div class="form-group text-center" id="marginbottom10">
														<button id="btn3" class="btn" type="button" ng-click="chooseunint()" title="İlgisiz">
															<img ng-src="{{findunint(settings.condition)}}" width="32" height="32" />
														</button>
													</div>
												</div>
												<div class="col-lg-4">
													<div class="form-group text-center" id="marginbottom10">
														<button id="btn4" class="btn" type="button" ng-click="chooseneu()" title="Nötr">
															<img ng-src="{{findneutral(settings.condition)}}" width="32" height="32" />
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<hr id="line1" />
									<!-- DAVRANIŞ SEÇİMİ SON -->
									<!-- AVATAR FOTO BAŞLANGIÇ -->
									<div><h6 class="text-center nunito" id="fontsize2">Katılımcı için gösterilmesi istenen davranışı seçiniz.</h6></div>
									<div class="row text-center" id="avatardiv">
										<img ng-src="{{findasrc(initial.avatar)}}" id="avatar" />
									</div>
									<!-- AVATAR FOTO SON -->
									<!-- AVATAR ANİMASYON SEÇİMİ BAŞLANGIÇ -->
									<div class="row m-t-0">
										<button id="event1" class="btn" type="button" ng-click="clickclap()" ng-class="{'disabled': isDisabled ==1}" title="Alkış">
											<img src="../Images/clap.png" width="45" height="45" />
										</button>
										<button id="event2" class="btn" type="button" ng-click="clicklaugh()" ng-class="{'disabled': isDisabled ==1}" title="Kahkaha">
											<img src="../Images/Laugh.png" width="45" height="45" />
										</button>
										<button id="event3" class="btn" type="button" ng-click="clicktired()" ng-class="{'disabled': isDisabled ==1}" title="Sıkılma">
											<img src="../Images/bored.png" width="45" height="45" />
										</button>
										<button id="event4" class="btn" type="button" ng-click="clickinsult()" ng-class="{'disabled': isDisabled ==1}" title="Alaycı gülme">
											<img src="../Images/Insulting_laugh.png" width="45" height="45" />
										</button>
										<button id="event5" class="btn" type="button" ng-click="clickyawn()" ng-class="{'disabled': isDisabled ==1}" title="Esneme">
											<img src="../Images/yawn.png" width="45" height="45" />
										</button>
										<button id="event6" class="btn" type="button" ng-click="clicksleeping()" ng-class="{'disabled': isDisabled ==1}" title="Uyuma">
											<img src="../Images/Sleeping.png" width="45" height="45" />
										</button>
									</div>
									<hr id="line2" />
									<!-- AVATAR ANİMASYON SEÇİMİ SON -->
									<!-- ORTAM SESİ SEÇİMİ BAŞLANGIÇ -->
									<div><h6 class="text-center nunito" id="fontsize2">Sanal ortamdaki dikkat dağıtıcı sesleri seçiniz.</h6></div>
									<div class="row">
										<div class="col-lg-2 col-lg-push-2 text-center">
											<button id="sound1" class="btn" type="button" disabled title="Fısıltı">
												<img src="../Images/whisper.png" width="45" height="45" style="opacity:0.3" />
											</button>
										</div>
										<div class="col-lg-4 col-lg-push-2 text-center">
											<button id="sound2" class="btn" type="button" ng-click="phonetalk()" ng-class="{'disabled': isDisabled ==1}" title="Telefon çalması">
												<img src="../Images/phone_talk.png" width="45" height="45" />
											</button>
										</div>
										<div class="col-lg-2 col-lg-push-2 text-center">
											<button id="sound3" class="btn" type="button" ng-click="eating()" ng-class="{'disabled': isDisabled ==1}" title="Yiyecek">
												<img src="../Images/eating.png" width="45" height="45" />
											</button>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-lg-push-2  text-center">
											<button id="sound5" class="btn" type="button" ng-click="cough()" ng-class="{'disabled': isDisabled ==1}" title="Öksürme">
												<img src="../Images/cough.png" width="45" height="45" />
											</button>
										</div>
										<div class="col-lg-4 col-lg-push-2  text-center">
											<button id="sound6" class="btn" type="button" ng-click="message()" ng-class="{'disabled': isDisabled ==1}" title="SMS">
												<img src="../Images/phone_text.png" width="45" height="45" />
											</button>
										</div>
										<div class="col-lg-2 col-lg-push-2 text-center">
											<button id="sound7" class="btn" type="button" ng-click="drink()" ng-class="{'disabled': isDisabled ==1}" title="İçecek">
												<img src="../Images/drinking.png" width="45" height="45" />
											</button>
										</div>
									</div>
									<!-- ORTAM SESİ SEÇİMİ SON -->
								</div>
							</div>
							<!-- Avatar Seçimi&Dropdown BAŞLANGIÇ -->
							<!-- Grafik1 BAŞLANGIÇ !-->
							<div class="card card-default">
								<div class="card-block p-b-5">
									<div id="chart_container" class="row">
										<div id="y_axis"></div>
										<div id="chart"></div>
									</div>
									<div id="preview"></div>
									<p class="text-center p-b-0 m-b-0 m-t-10" style="font-size:16px; font-family:poppinsemibold;">Nabız</p>
								</div>
							</div>
							<!-- Grafik1 SON !-->
						</div>
						<!-- İkinci SÜTUN SON-->
						<!-- Üçüncü SÜTUN BAŞLANGIÇ-->
						<div class="col-lg-4">
							<div id="endivbutton">
								<button class="btn btn-red" id="endbutton" type="button" data-toggle="modal" data-target="#exitModal">Seansı Bitir</button>
							</div>
							<!-- Soruların Seçimi BAŞLANGIÇ -->
							<uib-tabset active="0" justified="true">
								<!-- Diyalog sekmesi BAŞLANGIÇ -->
								<uib-tab index="0" heading="Diyalog">
									<div class="card card-default p-b-0 m-b-0" style="height:48.3vh">
										<div class="card-block p-t-50" id="scroll">
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-new btn-block text-left" id="qbutton1" ng-click="question027()"> <p id="fontsize">Merhaba, hoşgeldiniz. Nasıl yardımcı olabilirim? Bu malı neden iade etmek istiyorsunuz?</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-new btn-block text-left" id="qbutton2" ng-click="question028()"> <p id="fontsize">Merhaba, hoşgeldiniz. Bana aradığınız ürünü tarif ederseniz size yardımcı olabilirim?</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-new btn-block text-left" ng-click="question029()"> <p id="fontsize">Merhaba, hoşgeldiniz. Bu mal ile ilgili şikayetiniz nedir, anlatır mısınız?</p> </button>
										</div>
									</div>
								</uib-tab>
								<!-- Diyalog sekmesi SON -->
								<!-- Onay/Red sekmesi BAŞLANGIÇ -->
								<uib-tab index="1" heading="Onay/Red">
									<div class="card card-default p-b-0 m-b-0" style="height:48.3vh">
										<div class="card-block p-t-30" id="scroll">
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-complete btn-block text-left" id="qbutton01" ng-click="question079()"> <p id="fontsize">Hıhı.</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-complete btn-block text-left" id="qbutton02" ng-click="question080()"> <p id="fontsize">Evet.</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-complete btn-block text-left" id="qbutton02" ng-click="question081()"> <p id="fontsize">Doğru.</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-danger btn-block text-left" id="qbutton02" ng-click="question082()"> <p id="fontsize">I-ıh.</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-danger btn-block text-left" id="qbutton02" ng-click="question083()"> <p id="fontsize">Hayır.</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-danger btn-block text-left" ng-click="question084()"> <p id="fontsize">Katılmıyorum.</p> </button>
										</div>
									</div>
								</uib-tab>
								<!-- Onay/Red sekmesi SON -->
								<!-- Geri Bildirim sekmesi BAŞLANGIÇ -->
								<uib-tab index="2">
									<uib-tab-heading>
										<span ng-class="{'hidden':width < 1744}">Geri Bildirim</span>
										<span ng-class="{'hidden':width > 1745}">Geri B.</span>
									</uib-tab-heading>
									<div class="card card-default p-b-0 m-b-0" style="height:48.3vh">
										<div class="card-block p-t-30" id="scroll">
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-complete btn-block text-left" id="qbutton01" ng-click="question045()"> <p id="fontsize">Sizi çok iyi anlıyorum.</p></button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-complete btn-block text-left" id="qbutton02" ng-click="question046()"> <p id="fontsize">Aslında haklısınız.</p></button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-complete btn-block text-left" id="qbutton02" ng-click="question047()"> <p id="fontsize">Tamam, işleminizi alıyoruz, birkaç hafta içinde para iadesi yapacağız.</p></button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-danger btn-block text-left" id="qbutton02" ng-click="question063()"> <p id="fontsize">Fakat siz bu ürünü kullanmışsınız.</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-danger btn-block text-left" id="qbutton02" ng-click="question064()"> <p id="fontsize">Malesef bu tür şikayetlerde bir şey yapamıyoruz.</p></button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-danger btn-block text-left" id="qbutton02" ng-click="question065()"> <p id="fontsize">Sizi anlıyorum, ama bu şartlarda malesef ürünü alamıyoruz.</p></button>
										</div>
									</div>
								</uib-tab>
								<!-- Geri Bildirim sekmesi SON -->
								<!-- Konuşurken Bölmek sekmesi BAŞLANGIÇ -->
								<uib-tab index="3" heading="Bölmek">
									<div class="card card-default p-b-0 m-b-0" style="height:48.3vh">
										<div class="card-block p-t-10" id="scroll">
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-info btn-block text-left m-b-10" ng-click="question072()"> <p id="fontsize">Sesinizi çok net duyamıyorum. Daha yüksek sesle konuşur musunuz?</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-info btn-block text-left m-b-10" ng-click="question073()"> <p id="fontsize">Bir dakika lütfen, bir süredir ne dediğinizi anlayamıyorum. Tane tane konuşur musunuz?</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-info btn-block text-left m-b-10" ng-click="question074()"> <p id="fontsize">Pardon sanırım çok heyecanlısınız. Biraz daha sakin anlatır mısınız?</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-info btn-block text-left m-b-10" ng-click="question075()"> <p id="fontsize">Çok özür dileyerek böleceğim, biraz daha net konuşur musunuz, anlam bütünlüğü kurmakta güçlük çekiyorum.</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-info btn-block text-left m-b-10" ng-click="question076()"> <p id="fontsize">Pardon ama baya karışık anlatıyorsunuz. Söyleyeceklerinizi daha kısa ve öz ifade edebilir misiniz?</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-info btn-block text-left m-b-10" ng-click="question077()"> <p id="fontsize">Ne demek istediğinizi tam anlamadım. Konuyu biraz daha açar mısınız?</p> </button>
											<button ng-class="{'disabled': isDisabled ==1}" class="btn btn-info btn-block text-left" ng-click="question078()"> <p id="fontsize">Tüm anlatacaklarınız bu kadar mıydı? Biraz daha detaylı anlatabilir misiniz?</p> </button>
										</div>
									</div>
								</uib-tab>
								<!-- Konuşurken Bölmek sekmesi SON -->
							</uib-tabset>
							<!-- Soruların Seçimi SON -->
							<!-- Grafik2 BAŞLANGIÇ !-->
							<div class="card card-default" id="Temp">
								<div class="card-block p-b-5">
									<div id="chart_container" class="row">
										<div id="y_axis2"></div>
										<div id="chart2"></div>
									</div>
									<div id="preview2"></div>
									<p class="text-center p-b-0 m-b-0 m-t-10" style="font-size:16px; font-family:poppinsemibold;">Deri İletkenliği</p>
								</div>
							</div>
							<!-- Grafik2 SON !-->
						</div>
						<!-- Üçüncü SÜTUN SON-->
					</div>

					<!-- START exitmodal -->
					<div id="exitModal" class="modal fade blured" role="dialog">
						<div class="modal-dialog">
							<div id="Sure" class="modal-content">
								<!-- SEÇİLİ AVATAR İSMİ BAŞLANGIÇ-->
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="text-left nunito"><span style="font-family:poppinsemibold;">Çıkış</span></h4>
								</div>
								<!-- SEÇİLİ AVATAR İSMİ SON-->
								<!-- SEÇİLİ AVATAR SEANS DETAYLARI BAŞLANGIÇ-->
								<div class="modal-body">
									<div>
										<!-- BİLGİLER BAŞLANGIÇ-->
										<p></p>
										<p style="font-size:14px;">Seansı bitirmek istediğinizden emin misiniz?</p>
										<!-- BİLGİLER SON-->
									</div>
								</div>
								<!-- SEÇİLİ AVATAR SEANS DETAYLARI SON-->
								<div class="modal-footer">
									<div class="col-12 text-center">
										<button type="button" class="btn btn-green" ng-click="End()">Çıkış Yap</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END exitmodal -->
				</div>
				<!-- END CONTAINER FLUID -->
			</div>
			<!-- END PAGE CONTENT -->
			<!-- START COPYRIGHT -->
			<div class=" container-fluid  container-fixed-lg footer">
				<div class="copyright sm-text-center">
					<p class="small no-margin pull-left sm-pull-reset nunito">
						<span class="hint-text nunito">Copyright &copy; 2018 </span>
						<span class="nunito">METAVERSE</span>.
						<span class="hint-text nunito">All rights reserved. </span>
						<span class="sm-block"><a href="" class="m-l-10 m-r-10 nunito">Terms of use</a> <span class="muted">|</span> <a href="" class="m-l-10 nunito">Privacy Policy</a></span>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- END COPYRIGHT -->
		</div>
		<!-- END PAGE CONTENT WRAPPER -->
	</div>
	<!-- END PAGE CONTAINER -->
	<div ng-init="init()"></div>
	<!-- END PAGE LEVEL JS -->

</body>
