<body class="fixed-header ">
	<link href="../Styles/shopping_settings.css" rel="stylesheet" type="text/css" />
	<!-- BEGIN SIDEBPANEL-->
	<nav class="page-sidebar" data-pages="sidebar">
		<!-- BEGIN SIDEBAR MENU HEADER-->
		<div class="sidebar-header">
			<img src="../Images/vr-social-logo-oneline-gri2.png" width="158" height="25">
		</div>
		<!-- END SIDEBAR MENU HEADER-->
		<!-- START SIDEBAR MENU -->
		<div class="sidebar-menu">
			<!-- BEGIN SIDEBAR MENU ITEMS-->
			<ul class="menu-items">
				<li class="m-t-30 ">
					<a href="../#/loggedin" class="detailed">
						<span class="title nunito">Danışan Listesi</span>
					</a>
					<span class="icon-thumbnail"><i class="pg-home"></i></span>
				</li>
				<li class="">
					<a href="../#/patregister" class="detailed">
						<span class="title nunito">Danışan Ekle</span>
					</a>
					<span class="icon-thumbnail"><i class="pg-plus"></i></span>
				</li>
				<li class="">
					<a href="../#/newsession"><span class="title nunito">Seans Ekle</span></a>
					<span class="icon-thumbnail"><i class="pg-clock"></i></span>
				</li>
				<!--<li>
					<a href=""><span class="title">Takvim</span></a>
					<span class="icon-thumbnail"><i class="pg-calender"></i></span>
				</li>
				<li class="">
					<a href=""><span class="title">Ayarlar</span></a>
					<span class="icon-thumbnail"><i class="pg-settings"></i></span>
				</li>-->
				<li>
					<a ng-click="userLogout()"><span class="title nunito">Çıkış Yap</span></a>
					<span class="icon-thumbnail"><i class="pg-power"></i></span>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<!-- END SIDEBAR MENU -->
	</nav>
	<!-- END SIDEBAR -->
	<!-- END SIDEBPANEL-->
	<!-- START PAGE-CONTAINER -->
	<div class="page-container" style="height:92vh">
		<!-- START HEADER -->
		<div class="header ">
			<!-- START MOBILE SIDEBAR TOGGLE -->
			<a href="#" class="btn-link toggle-sidebar hidden-lg hidden-md pg-menu" data-toggle="sidebar"></a>
			<!-- END MOBILE SIDEBAR TOGGLE -->
			<div class="">
				<div class="brand inline ">
					<img src="../Images/vr-social-logo-oneline.png" width="158" height="25">
				</div>
				<!-- START NOTIFICATION LIST -->
				<!-- END NOTIFICATIONS LIST -->
			</div>
			<div class="d-flex align-items-center">
				<!-- START User Info-->
				<div class="pull-left p-r-10 fs-16 font-heading hidden-md-down nunito bold">
					<span>{{testa.name}} {{testa.surname}}</span>
				</div>
				<!--<div class="dropdown pull-right hidden-md-down">
					<button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="thumbnail-wrapper d32 circular inline">
							<img src="../Images/profiles/avatar.jpg" alt="" data-src="../Images/profiles/avatar.jpg" data-src-retina="../Images/profiles/avatar_small2x.jpg" width="32" height="32">
						</span>
					</button>
					<div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
						<a href="#" class="dropdown-item"><i class="pg-settings_small"></i> Settings</a>
						<a href="#" class="dropdown-item"><i class="pg-outdent"></i> Feedback</a>
						<a href="#" class="dropdown-item"><i class="pg-signals"></i> Help</a>
						<a href="../login" ng-click="userLogout()" class="clearfix bg-master-lighter dropdown-item">
							<span class="pull-left">Logout</span>
							<span class="pull-right"><i class="pg-power"></i></span>
						</a>
					</div>
				</div>-->
				<!-- END User Info-->
				<!--<a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview"></a>-->
			</div>
		</div>
		<!-- END HEADER -->
		<!-- START PAGE CONTENT WRAPPER -->
		<div class="page-content-wrapper ">
			<!-- START PAGE CONTENT -->
			<div class="content p-t-15">
				<h1 class="text-center" style="font-family:poppinsemibold; font-size:1.40vw; line-height:50px;">Senaryo Ayarları</h1>
				<!-- START JUMBOTRON -->
				<div class="jumbotron" data-pages="parallax">
					<div class=" container-fluid">
						<div class="" id="jumbo">
							<b>{{testa.newsessionername}}</b> için <b>Alışveriş</b> senaryo ayarlarını yapınız.
						</div>
					</div>
				</div>
				<!-- END JUMBOTRON -->
				<!-- START CONTAINER FLUID -->
				<div class=" container-fluid container-fixed-lg">
					<!-- BEGIN PlACE PAGE CONTENT HERE -->
					<div class="col-lg-8 col-lg-push-2">
						<form name="form" ng-submit="shopping(settings)" id="form-login" class="p-t-15" role="form">
							<div class="row">
								<div class="col-lg-6 no-padding">
									<table class="table m-t-0" id="chosetable">
										<tr>
											<td id="blockone">Katılımcılar</td>
											<td id="blocktwo">
												<!-- AÇIKLAMA BAŞLANGIÇ -->
												<div class="form-group">
													<p class="nunito">Senaryo oturum planındaki butona tıklayarak, katılımcı karakteri ortama yerleştiriniz.</p>
													<p class="nunito">
														D: Danışan, E: Erkek Avatar,
														K: Kadın Avatar, T: Terapist
													</p>
												</div>
												<!-- AÇIKLAMA SON -->
											</td>
										</tr>
										<tr>
											<td id="blockthree">Katılımcı Yaşı</td>
											<td id="blockfour">
												<!-- YAŞ SEÇİMİ BAŞLANGIÇ -->
												<div class="form-group">
													<input ng-model="settings.age" type="radio" name="age" value="1"> Genç
													<input ng-model="settings.age" type="radio" name="age" value="2"> Orta Yaşlı
													<input ng-model="settings.age" type="radio" name="age" value="3"> Yaşlı
												</div>
												<!-- YAŞ SEÇİMİ SON -->
											</td>
										</tr>
										<tr>
											<td id="blockfive">Katılımcı Kontrolü</td>
											<td id="blocksix">
												<!-- KONTROL SEÇİMİ BAŞLANGIÇ -->
												<div class="form-group">
													<input ng-model="settings.control" type="radio" name="control" value="0"> Terapist
													<input ng-model="settings.control" type="radio" name="control" value="1"> Otonom
												</div>
												<!-- KONTROL SEÇİMİ SON -->
											</td>
										</tr>
										<tr>
											<td id="blockseven">Katılımcı Tutumu</td>
											<td id="blockeight">
												<!-- DAVRANIŞ SEÇİMİ BAŞLANGIÇ -->
												<div>
													<p class="nunito" id="block8inside">Senaryo yerleştirdiğiniz katılımcı için tutum seçiniz.</p>
												</div>
												<div class="row">
													<div class="col-sm-6">
														<div class="row">
															<div class="col-lg-6">
																<div class="form-group text-center">
																	<button class="btn square" type="button" ng-click="choosesup()" title="İlgili">
																		<img ng-src="{{findsmile(settings.condition)}}" width="32" height="32" />
																	</button>
																</div>
															</div>
															<div class="col-lg-6">
																<div class="form-group text-center">
																	<button class="btn square" type="button" ng-click="chooserej()" title="Reddedici">
																		<img ng-src="{{findangry(settings.condition)}}" width="32" height="32" />
																	</button>
																</div>
															</div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="row">
															<div class="col-lg-6">
																<div class="form-group text-center">
																	<button class="btn square" type="button" ng-click="chooseunint()" title="İlgisiz">
																		<img ng-src="{{findunint(settings.condition)}}" width="32" height="32" />
																	</button>
																</div>
															</div>
															<div class="col-lg-6">
																<div class="form-group text-center">
																	<button class="btn square" type="button" ng-click="chooseneu()" title="Nötr">
																		<img ng-src="{{findneutral(settings.condition)}}" width="32" height="32" />
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- DAVRANIŞ SEÇİMİ SON -->
											</td>
										</tr>
									</table>
								</div>
								<!-- KOLTUK SEÇİMİ BAŞLANGIÇ -->
								<div id="img_container" class="col-lg-6">
									<img src="../Images/ScenePhotos/Store_Top_2.jpg" width="488" height="366" />
									<input ng-model="settings.koltuk1" ng-click="change1()" type="button" value=" " id="myButton1">
									<input ng-model="settings.koltuk2" ng-click="change2()" type="button" value="D" id="myButton2" disabled>
									<a class="btn btn-green btn-cons m-t-10" href="../#/startsession" id="backbutton">Senaryo Değiştir</a>
									<button class="btn btn-green btn-cons m-t-10" type="submit" id="gobutton">Senaryoyu Başlat</button>
								</div>
								<!-- KOLTUK SEÇİMİ SON -->
							</div>
						</form>
					</div>
					<!-- END PLACE PAGE CONTENT HERE -->
					<!-- START avatarmodal -->
					<div id="avatarModal" class="modal fade blured" role="dialog">
						<div class="modal-dialog">
							<div id="Sure" class="modal-content">
								<!-- SEÇİLİ AVATAR İSMİ BAŞLANGIÇ-->
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<!-- SEÇİLİ AVATAR İSMİ SON-->
								<!-- SEÇİLİ AVATAR SEANS DETAYLARI BAŞLANGIÇ-->
								<div class="modal-body">
									<div>
										<!-- BİLGİLER BAŞLANGIÇ-->
										<p></p>
										<p style="font-size:14px;">Terapist veya katılımcı karakterini ortama yerleştiriniz.</p>
										<!-- BİLGİLER SON-->
									</div>
								</div>
								<!-- SEÇİLİ AVATAR SEANS DETAYLARI SON-->
								<div class="modal-footer">
									<div class="col-12 text-center">
										<button type="button" class="btn btn-green" ng-click="avatarhide()">Tamam</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END avatarmodal -->
					<!-- PRIVACY MODAL BAŞLANGIÇ-->
					<div id="PrivacyModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div id="Sure" class="modal-content">
								<!-- BAŞLIK BAŞLANGIÇ-->
								<div class="modal-header text-left">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 id="forgothead">Kullanım Şartları ve Gizlilik Politikası</h4>
									<hr style="margin-top:18px; margin-bottom:25px;" />
								</div>
								<!-- BAŞLIK SON-->
								<!-- İÇERİK BAŞLANGIÇ-->
								<div ng-class="{'hiddenthing':hiddenthing == 1}">
									<div class="modal-body">
										<div class="scrollable">
											<p style="height:250px;">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sollicitudin est, in gravida lectus. Sed neque arcu, pharetra a felis eget, efficitur feugiat odio. Integer et vestibulum leo. Nullam posuere fringilla felis sit amet cursus. Proin aliquet leo rhoncus nulla faucibus dapibus. Suspendisse potenti. Suspendisse potenti.

												Aenean malesuada sollicitudin quam eu mattis. Nam ornare metus eget felis faucibus, nec egestas turpis tempor. Integer sit amet est vel justo varius venenatis et non mi. Aliquam pretium mauris a lectus maximus molestie. Nullam quis pretium nunc, eu lobortis ante. Donec sed justo ultrices, scelerisque ipsum sit amet, malesuada eros. Nulla in tristique felis. Nulla dignissim, metus sit amet porta dapibus, dolor nisi pharetra mauris, sit amet congue libero nisi id turpis. Quisque sit amet velit feugiat, dapibus quam et, pulvinar nulla. Aenean sit amet ultrices elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam eu quam magna. Nulla sit amet gravida quam. Curabitur at risus lobortis, pretium diam ut, iaculis dui. In auctor nibh fermentum, congue tellus sed, mollis nulla.

												Donec sit amet finibus massa, et finibus nunc. Etiam suscipit massa leo, nec mattis massa ultricies sed. Vivamus felis nunc, sollicitudin eget ultrices ac, ultrices id lorem. Aliquam a velit tristique, ultrices erat eu, porta erat. Mauris at lacus vel tortor auctor tincidunt. Etiam elementum lectus id lacinia tristique. Praesent fringilla est vel blandit viverra. Proin mi justo, convallis id dignissim at, gravida eget augue. Vivamus at imperdiet eros. Etiam eu nisl accumsan, gravida leo vel, scelerisque turpis.

												Nam consectetur risus ac est varius hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce et metus orci. Etiam bibendum luctus ligula id tincidunt. Proin sed diam mollis, porta est commodo, cursus tellus. Maecenas tempus consequat risus eget mollis. Morbi sit amet mollis leo. Maecenas varius purus enim, eget ultrices dui dictum et. Nam sit amet velit eleifend, posuere lectus sit amet, pharetra lorem. Pellentesque non purus auctor, porttitor elit eget, viverra magna. Donec massa lacus, rutrum sed semper ut, lacinia non eros. Donec semper massa at eros auctor pharetra. Pellentesque vitae tristique velit, vitae facilisis augue.

												Cras vel ipsum sed mauris suscipit vulputate. Mauris vitae mattis turpis. Fusce ultrices, velit ac tincidunt commodo, lectus mauris placerat lacus, non iaculis nibh nibh nec dui. Quisque a eleifend purus, id vulputate eros. Vestibulum id est eget sapien pellentesque commodo a ut magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus auctor nibh quis nulla tincidunt, non ullamcorper lacus blandit. Duis turpis enim, mollis id lectus tristique, commodo porttitor velit. Vivamus eget ex porta, vehicula ipsum nec, porta enim. Sed eu velit id tortor bibendum hendrerit. Aenean efficitur risus a lacinia finibus. Phasellus molestie ex non eros euismod, et ultrices mi tempor. Suspendisse potenti. Quisque bibendum, nulla eleifend laoreet ultrices, ipsum sem interdum ex, a tristique nulla est at elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam orci velit, euismod ut aliquet a, condimentum eget eros.
											</p>
										</div>
									</div>
									<div class="modal-footer text-center">
										<button type="submit" class="btn-green" data-dismiss="modal" id="send">Kapat</button>
									</div>
								</div>
								<!-- İÇERİK İÇİN FORM SON-->
							</div>
						</div>
					</div>
					<!-- PRIVACY MODAL SON-->
				</div>
				<!-- END CONTAINER FLUID -->
			</div>
			<!-- END PAGE CONTENT -->
			<!-- START COPYRIGHT -->
			<div class=" container-fluid  container-fixed-lg footer">
				<div class="copyright sm-text-center">
					<p class="small no-margin pull-left sm-pull-reset">
						<span class="hint-text">Copyright &copy; 2018 </span>
						<span class="font-montserrat">METAVERSE</span>.
						<span class="hint-text">All rights reserved. </span>
						<span class="sm-block"><a href="" data-toggle="modal" data-target="#PrivacyModal" class="m-l-10 m-r-10 nunito">Terms of use & Privacy Policy</a></span>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- END COPYRIGHT -->
		</div>
		<!-- END PAGE CONTENT WRAPPER -->
	</div>
	<!-- END PAGE CONTAINER -->

	<div ng-init="init()"></div>
	<!-- END PAGE LEVEL JS -->
</body>