<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<style>
		body {
			font-family: Arial;
		}

		/* Style the tab */
		div.tab {
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}

			/* Style the buttons inside the tab */
			div.tab button {
				background-color: inherit;
				float: left;
				border: none;
				outline: none;
				cursor: pointer;
				padding: 14px 16px;
				transition: 0.3s;
				font-size: 17px;
			}

				/* Change background color of buttons on hover */
				div.tab button:hover {
					background-color: #ddd;
				}

				/* Create an active/current tablink class */
				div.tab button.active {
					background-color: #ccc;
				}

		/* Style the tab content */
		.tabcontent {
			display: none;
			padding: 6px 12px;
			border: none;
			border-top: none;
		}

		table {
		}

		/*tr:hover {
			background-color: #eeeeee;
		}*/
		tr:nth-child(even) {
			background-color: #eeeeee;
		}

		tr:hover {
			background-color: #cccccc;
		}

		th, td {
			border: 1px solid #bbbbbb;
			text-align: left;
			padding: 8px;
		}
	</style>
</head>
<body>

	<div class="tab">
		<button class="tablinks" onclick="openlogin(event, 'Info')">Kişi Bilgileri</button>
		<form name="form" ng-submit="userpatientlist(login)" novalidate>
			<button class="tablinks" type="submit" onclick="openlogin(event, 'Table')">Danışan Listesi</button>
		</form>
	</div>

	<div id="Info" class="tabcontent">
		<div style="background-color:#ccc">
			<div class="text-center">
				<div style="min-height:100%; min-width:100%">
					<div class="col-sm-4">
						<p><a href="../#!/patregister">Add a new Patient</a></p>
						<form name="form" ng-submit="userLogout()">
							<label>Welcome</label>
							<p>
								<div ng-controller="loggedin_controller" id="someId">Id:  {{test.userId}}</div>
							</p>
							<p>
								<div ng-controller="loggedin_controller" id="someId">Name:  {{test.name}}</div>
							</p>
							<p>
								<div ng-controller="loggedin_controller" id="someId">Surname:  {{test.surname}}</div>
							</p>
							<div class="form-group">
								<button class="btn btn-lg btn-info btn-block" type="submit">Log Out</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="Table" class="tabcontent">
		<div style="background-color:#ccc">
			<div class="text-center">
				<div style="min-height:100%; min-width:100%">
					<div class="col-sm-4">
						<p><a href="../#!/patregister">Add a new Patient</a></p>
						<form>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
									<input type="text" class="form-control" placeholder="Search a Patient" ng-model="searchPatient">
								</div>
							</div>
						</form>
						<table style="width:145%">
							<thead>
								<tr>
									<th ng-click="sortType = 'name'; sortReverse = !sortReverse">
										Name
										<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>

									</th>
									<th ng-click="sortType = 'surname'; sortReverse = !sortReverse">
										Surname
										<span ng-show="sortType == 'surname' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'surname' && sortReverse" class="fa fa-caret-up"></span>

									</th>
									<th ng-click="sortType = 'birth'; sortReverse = !sortReverse">
										Birth
										<span ng-show="sortType == 'birth' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'birth' && sortReverse" class="fa fa-caret-up"></span>

									</th>
									<th ng-click="sortType = 'next_session'; sortReverse = !sortReverse">
										Next Session
										<span ng-show="sortType == 'next_session' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'next_session' && sortReverse" class="fa fa-caret-up"></span>

									</th>
								</tr>
							</thead>

							<tbody ng-repeat="x in test.patient | orderBy:sortType:sortReverse | filter:searchPatient | startFrom:((currentPage-1)*pageSize) | limitTo:pageSize  " ng-switch="isSelPatient($index)" ng-click="selpat($index)">
								<tr ng-class="{sel:selIdx==$index}">
									<td ng-controller="loggedin_controller" data-toggle="modal" data-target="#myModal" id="someId">{{x.name}}</td>
									<td ng-controller="loggedin_controller" data-toggle="modal" data-target="#myModal" id="someId">{{x.surname}}</td>
									<td ng-controller="loggedin_controller" data-toggle="modal" data-target="#myModal" id="someId">{{x.birth| date:'dd MMM yy'}} </td>
									<td ng-controller="loggedin_controller" data-toggle="modal" data-target="#myModal" id="someId">{{x.next_session| date:'dd MMM yy'}}</td>
								</tr>
							</tbody>

						</table>
						<ul uib-pagination total-items="numberOfPatient" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
						<p><a href="../#!/newsession" data-dismiss="fade">Add a new Session</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div id="Details" class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div ng-repeat="x in test.patient | orderBy:sortType:sortReverse | filter:searchPatient | startFrom:((currentPage-1)*pageSize) | limitTo:pageSize  " ng-switch="isSelPatient($index)">
						<h4 class="{sel:selIdx==$index}" ng-switch-when="true">{{x.name}} {{x.surname}}</h4>
					</div>
				</div>
				<div class="modal-body">
					<div class="tabbable">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab1" data-toggle="tab">Bilgiler</a></li>
							<li><a href="#tab2" data-toggle="tab">Seanslar</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								<p></p>
								<div ng-repeat="x in test.patient | orderBy:sortType:sortReverse | filter:searchPatient | startFrom:((currentPage-1)*pageSize) | limitTo:pageSize  " ng-switch="isSelPatient($index)">
									<p class="{sel:selIdx==$index}" ng-switch-when="true">Name: {{x.name}}</p>
									<p class="{sel:selIdx==$index}" ng-switch-when="true">Surname: {{x.surname}}</p>
									<p class="{sel:selIdx==$index}" ng-switch-when="true">Birth: {{x.birth | date:'d MMMM yyyy'}}</p>
									<p class="{sel:selIdx==$index}" ng-switch-when="true">Gender: {{x.gender}}</p>
									<p class="{sel:selIdx==$index}" ng-switch-when="true">Next Session: {{x.next_session | date:'d MMMM yyyy H:mm'}}</p>
								</div>
							</div>
							<div class="tab-pane" id="tab2">
								<p>Seanslar yokken burası hep dutluk.<p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		function openlogin(evt, usertype) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(usertype).style.display = "block";
			evt.currentTarget.className += " active";
		}
	</script>
</body>







<div class="page-sidebar" data-pages="sidebar" pg-sidebar>
	<div ng-init="init()"></div>
	<!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
	<div class="sidebar-overlay-slide from-top " id="appMenu">
		<div class="row">
			<div class="col-xs-6 no-padding">
				<a href="#" class="p-l-40">
					<img src="../Views/assets/img/demo/social_app.svg" alt="socail">
				</a>
			</div>
			<div class="col-xs-6 no-padding">
				<a href="#" class="p-l-10">
					<img src="../Views/assets/img/demo/email_app.svg" alt="socail">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 m-t-20 no-padding">
				<a href="#" class="p-l-40">
					<img src="../Views/assets/img/demo/calendar_app.svg" alt="socail">
				</a>
			</div>
			<div class="col-xs-6 m-t-20 no-padding">
				<a href="#" class="p-l-10">
					<img src="../Views/assets/img/demo/add_more.svg" alt="socail">
				</a>
			</div>
		</div>
	</div>
	<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
	<!-- BEGIN SIDEBAR MENU HEADER-->
	<div class="sidebar-header ">
		<img src="../Views/assets/img/logo_white.png" alt="logo" class="brand" data-src="../Views/assets/img/logo_white.png" data-src-retina="../Views/assets/img/logo_white_2x.png" width="78" height="22">
		<div class="sidebar-header-controls">
			<button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu">
				<i class="fa fa-angle-down fs-16"></i>
			</button>
			<button type="button" class="btn btn-link hidden-md-down" data-toggle-pin="sidebar">
				<i class="fa fs-12"></i>
			</button>
		</div>
	</div>
	<!-- END SIDEBAR MENU HEADER-->
	<!-- START SIDEBAR MENU -->
	<div class="sidebar-menu">
		<!-- BEGIN SIDEBAR MENU ITEMS-->
		<ul class="menu-items">
			<li class="m-t-30 ">
				<a href="../index.html" class="detailed">
					<span class="title">Dashboard</span>
					<span class="details">12 New Updates</span>
				</a>
				<span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
			</li>
			<li class="">
				<a href="#" class="detailed">
					<span class="title">Email</span>
					<span class="details">234 New Emails</span>
				</a>
				<span class="icon-thumbnail"><i class="pg-mail"></i></span>
			</li>
			<li class="">
				<a href="#"><span class="title">Social</span></a>
				<span class="icon-thumbnail"><i class="pg-social"></i></span>
			</li>
			<!--<li>
				<a href="#">
					<span class="title">Calendar</span>
					<span class=" arrow"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-calender"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="#">Basic</a>
						<span class="icon-thumbnail">c</span>
					</li>
					<li class="">
						<a href="#">Languages</a>
						<span class="icon-thumbnail">L</span>
					</li>
					<li class="">
						<a href="#">Month</a>
						<span class="icon-thumbnail">M</span>
					</li>
					<li class="">
						<a href="#">Lazy load</a>
						<span class="icon-thumbnail">La</span>
					</li>
					<li class="">
						<a href="http://pages.revox.io/dashboard/2.1.0/doc/#calendar" target="_blank">Documentation</a>
						<span class="icon-thumbnail">D</span>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="#">
					<span class="title">Builder</span>
				</a>
				<span class="icon-thumbnail"><i class="pg-layouts"></i></span>
			</li>
			<li class="open active">
				<a href="#">
					<span class="title">Layouts</span>
					<span class=" open  arrow"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-layouts2"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="#">Default</a>
						<span class="icon-thumbnail">dl</span>
					</li>
					<li class="">
						<a href="#">Secondary</a>
						<span class="icon-thumbnail">sl</span>
					</li>
					<li class="">
						<a href="#">Boxed</a>
						<span class="icon-thumbnail">bl</span>
					</li>
					<li class="">
						<a href="#">RTL</a>
						<span class="icon-thumbnail">rl</span>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="title">UI Elements</span>
					<span class=" arrow"></span>
				</a>
				<span class="icon-thumbnail">Ui</span>
				<ul class="sub-menu">
					<li class="">
						<a href="#">Color</a>
						<span class="icon-thumbnail">c</span>
					</li>
					<li class="">
						<a href="#">Typography</a>
						<span class="icon-thumbnail">t</span>
					</li>
					<li class="">
						<a href="#">Icons</a>
						<span class="icon-thumbnail">i</span>
					</li>
					<li class="">
						<a href="#">Buttons</a>
						<span class="icon-thumbnail">b</span>
					</li>
					<li class="">
						<a href="#">Notifications</a>
						<span class="icon-thumbnail">n</span>
					</li>
					<li class="">
						<a href="#">Modals</a>
						<span class="icon-thumbnail">m</span>
					</li>
					<li class="">
						<a href="#">Progress &amp; Activity</a>
						<span class="icon-thumbnail">pa</span>
					</li>
					<li class="">
						<a href="#">Tabs &amp; Accordions</a>
						<span class="icon-thumbnail">ta</span>
					</li>
					<li class="">
						<a href="#">Sliders</a>
						<span class="icon-thumbnail">s</span>
					</li>
					<li class="">
						<a href="#">Tree View</a>
						<span class="icon-thumbnail">tv</span>
					</li>
					<li class="">
						<a href="#">Nestable</a>
						<span class="icon-thumbnail">ns</span>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="title">Forms</span>
					<span class=" arrow"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-form"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="#">Form Elements</a>
						<span class="icon-thumbnail">fe</span>
					</li>
					<li class="">
						<a href="#">Form Layouts</a>
						<span class="icon-thumbnail">fl</span>
					</li>
					<li class="">
						<a href="#">Form Wizard</a>
						<span class="icon-thumbnail">fw</span>
					</li>
				</ul>
			</li>-->
			<li class="">
				<a href="#">
					<span class="title">Cards</span>
				</a>
				<span class="icon-thumbnail"><i class="pg-grid"></i></span>
			</li>
			<li class="">
				<a href="#">
					<span class="title">Views</span>
				</a>
				<span class="icon-thumbnail"><i class="pg pg-ui"></i></span>
			</li>
			<li>
				<a href="#">
					<span class="title">Tables</span>
					<span class=" arrow"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-tables"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="#">Basic Tables</a>
						<span class="icon-thumbnail">bt</span>
					</li>
					<li class="">
						<a href="#">Data Tables</a>
						<span class="icon-thumbnail">dt</span>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="title">Maps</span>
					<span class=" arrow"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-map"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="#">Google Maps</a>
						<span class="icon-thumbnail">gm</span>
					</li>
					<li class="">
						<a href="#">Vector Maps</a>
						<span class="icon-thumbnail">vm</span>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="#"><span class="title">Charts</span></a>
				<span class="icon-thumbnail"><i class="pg-charts"></i></span>
			</li>
			<!--<li>
				<a href="#">
					<span class="title">Extra</span>
					<span class=" arrow"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-bag"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="#">Invoice</a>
						<span class="icon-thumbnail">in</span>
					</li>
					<li class="">
						<a href="#">404 Page</a>
						<span class="icon-thumbnail">pg</span>
					</li>
					<li class="">
						<a href="#">500 Page</a>
						<span class="icon-thumbnail">pg</span>
					</li>
					<li class="">
						<a href="#">Blank Page</a>
						<span class="icon-thumbnail">bp</span>
					</li>
					<li class="">
						<a href="#">Login</a>
						<span class="icon-thumbnail">l</span>
					</li>
					<li class="">
						<a href="#">Register</a>
						<span class="icon-thumbnail">re</span>
					</li>
					<li class="">
						<a href="#">Lockscreen</a>
						<span class="icon-thumbnail">ls</span>
					</li>
					<li class="">
						<a href="#">Gallery</a>
						<span class="icon-thumbnail">gl</span>
					</li>
					<li class="">
						<a href="#">Timeline</a>
						<span class="icon-thumbnail">t</span>
					</li>
				</ul>
			</li>-->
			<!--<li class="">
				<a href="#">
					<span class="title">Menu Levels</span>
					<span class="arrow"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-menu_lv"></i></span>
				<ul class="sub-menu">
					<li>
						<a href="#">Level 1</a>
						<span class="icon-thumbnail">L1</span>
					</li>
					<li>
						<a href="#">
							<span class="title">Level 2</span>
							<span class="arrow"></span>
						</a>
						<span class="icon-thumbnail">L2</span>
						<ul class="sub-menu">
							<li>
								<a href="#">Sub Menu</a>
								<span class="icon-thumbnail">Sm</span>
							</li>
							<li>
								<a href="#">Sub Menu</a>
								<span class="icon-thumbnail">Sm</span>
							</li>
						</ul>
					</li>
				</ul>
			</li>-->
			<li class="">
				<a href="http://pages.revox.io/dashboard/2.2.0/docs/" target="_blank"><span class="title">Docs</span></a>
				<span class="icon-thumbnail"><i class="pg-note"></i></span>
			</li>
			<li class="">
				<a href="http://changelog.pages.revox.io/" target="_blank"><span class="title">Changelog</span></a>
				<span class="icon-thumbnail">Cl</span>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->
<!-- START PAGE-CONTAINER -->
<div class="page-container ">
	<!-- START HEADER -->
	<div class="header ">
		<!-- START MOBILE SIDEBAR TOGGLE -->
		<a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
		</a>
		<!-- END MOBILE SIDEBAR TOGGLE -->
		<div class="">
			<div class="brand inline   ">
				<img src="../Views/assets/img/logo.png" alt="logo" data-src="../Views/assets/img/logo.png" data-src-retina="../Views/assets/img/logo_2x.png" width="78" height="22">
			</div>
			<!-- START NOTIFICATION LIST -->
			<ul class="hidden-md-down notification-list no-margin hidden-sm-down b-grey b-l b-r no-style p-l-30 p-r-20">
				<li class="p-r-10 inline">
					<div class="dropdown">
						<a href="javascript:;" id="notification-center" class="header-icon pg pg-world" data-toggle="dropdown">
							<span class="bubble"></span>
						</a>
						<!-- START Notification Dropdown -->
						<div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
							<!-- START Notification -->
							<div class="notification-panel">
								<!-- START Notification Body-->
								<div class="notification-body scrollable">
									<!-- START Notification Item-->
									<div class="notification-item unread clearfix">
										<!-- START Notification Item-->
										<div class="heading open">
											<a href="#" class="text-complete pull-left">
												<i class="pg-map fs-16 m-r-10"></i>
												<span class="bold">Carrot Design</span>
												<span class="fs-12 m-l-10">David Nester</span>
											</a>
											<div class="pull-right">
												<div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
													<div>
														<i class="fa fa-angle-left"></i>
													</div>
												</div>
												<span class=" time">few sec ago</span>
											</div>
											<div class="more-details">
												<div class="more-details-inner">
													<h5 class="semi-bold fs-16">
														“Apple’s Motivation - Innovation <br>
														distinguishes between <br>
														A leader and a follower.”
													</h5>
													<p class="small hint-text">
														Commented on john Smiths wall.
														<br> via pages framework.
													</p>
												</div>
											</div>
										</div>
										<!-- END Notification Item-->
										<!-- START Notification Item Right Side-->
										<div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
											<a href="#" class="mark"></a>
										</div>
										<!-- END Notification Item Right Side-->
									</div>
									<!-- START Notification Body-->
									<!-- START Notification Item-->
									<div class="notification-item  clearfix">
										<div class="heading">
											<a href="#" class="text-danger pull-left">
												<i class="fa fa-exclamation-triangle m-r-10"></i>
												<span class="bold">98% Server Load</span>
												<span class="fs-12 m-l-10">Take Action</span>
											</a>
											<span class="pull-right time">2 mins ago</span>
										</div>
										<!-- START Notification Item Right Side-->
										<div class="option">
											<a href="#" class="mark"></a>
										</div>
										<!-- END Notification Item Right Side-->
									</div>
									<!-- END Notification Item-->
									<!-- START Notification Item-->
									<div class="notification-item  clearfix">
										<div class="heading">
											<a href="#" class="text-warning-dark pull-left">
												<i class="fa fa-exclamation-triangle m-r-10"></i>
												<span class="bold">Warning Notification</span>
												<span class="fs-12 m-l-10">Buy Now</span>
											</a>
											<span class="pull-right time">yesterday</span>
										</div>
										<!-- START Notification Item Right Side-->
										<div class="option">
											<a href="#" class="mark"></a>
										</div>
										<!-- END Notification Item Right Side-->
									</div>
									<!-- END Notification Item-->
									<!-- START Notification Item-->
									<div class="notification-item unread clearfix">
										<div class="heading">
											<div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">
												<img width="30" height="30" data-src-retina="../Views/assets/img/profiles/1x.jpg" data-src="../Views/assets/img/profiles/1.jpg" alt="" src="../Views/assets/img/profiles/1.jpg">
											</div>
											<a href="#" class="text-complete pull-left">
												<span class="bold">Revox Design Labs</span>
												<span class="fs-12 m-l-10">Owners</span>
											</a>
											<span class="pull-right time">11:00pm</span>
										</div>
										<!-- START Notification Item Right Side-->
										<div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
											<a href="#" class="mark"></a>
										</div>
										<!-- END Notification Item Right Side-->
									</div>
									<!-- END Notification Item-->
								</div>
								<!-- END Notification Body-->
								<!-- START Notification Footer-->
								<div class="notification-footer text-center">
									<a href="#" class="">Read all notifications</a>
									<a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
										<i class="pg-refresh_new"></i>
									</a>
								</div>
								<!-- START Notification Footer-->
							</div>
							<!-- END Notification -->
						</div>
						<!-- END Notification Dropdown -->
					</div>
				</li>
				<li class="p-r-10 inline">
					<a href="#" class="header-icon pg pg-link"></a>
				</li>
				<li class="p-r-10 inline">
					<a href="#" class="header-icon pg pg-thumbs"></a>
				</li>
			</ul>
			<!-- END NOTIFICATIONS LIST -->
			<a href="#" class="search-link hidden-md-down" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a>
		</div>
		<div class="d-flex align-items-center">
			<!-- START User Info-->
			<div class="pull-left p-r-10 fs-14 font-heading hidden-md-down">
				<span class="semi-bold">David</span> <span class="text-master">Nest</span>
			</div>
			<div class="dropdown pull-right hidden-md-down">
				<button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="thumbnail-wrapper d32 circular inline">
						<img src="../Views/assets/img/profiles/avatar.jpg" alt="" data-src="../Views/assets/img/profiles/avatar.jpg" data-src-retina="../Views/assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
					</span>
				</button>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
					<a href="#" class="dropdown-item"><i class="pg-settings_small"></i> Settings</a>
					<a href="#" class="dropdown-item"><i class="pg-outdent"></i> Feedback</a>
					<a href="#" class="dropdown-item"><i class="pg-signals"></i> Help</a>
					<a href="#" class="clearfix bg-master-lighter dropdown-item">
						<span class="pull-left">Logout</span>
						<span class="pull-right"><i class="pg-power"></i></span>
					</a>
				</div>
			</div>
			<!-- END User Info-->
			<a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview"></a>
		</div>
	</div>
	<!-- END HEADER -->
	<!-- START PAGE CONTENT WRAPPER -->
	<div class="page-content-wrapper ">
		<!-- START PAGE CONTENT -->
		<div class="content ">
			<!-- START JUMBOTRON -->
			<div class="jumbotron" data-pages="parallax">
				<div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
					<div class="inner">
						<!-- START BREADCRUMB -->
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Pages</a></li>
							<li class="breadcrumb-item active">Blank template</li>
						</ol>
						<!-- END BREADCRUMB -->
					</div>
				</div>
			</div>
			<!-- END JUMBOTRON -->
			<!-- START CONTAINER FLUID -->
			<div class=" container-fluid container-fixed-lg">
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<p>Buralara yaz günü kar yağabilir</p>
				<!-- BEGIN PlACE PAGE CONTENT HERE -->
				<!-- END PLACE PAGE CONTENT HERE -->
			</div>
			<!-- END CONTAINER FLUID -->
		</div>
		<!-- END PAGE CONTENT -->
		<!-- START COPYRIGHT -->
		<!-- START CONTAINER FLUID -->
		<!-- START CONTAINER FLUID -->
		<div class=" container-fluid  container-fixed-lg footer">
			<div class="copyright sm-text-center">
				<p class="small no-margin pull-left sm-pull-reset">
					<span class="hint-text">Copyright &copy; 2017 </span>
					<span class="font-montserrat">REVOX</span>.
					<span class="hint-text">All rights reserved. </span>
					<span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> <span class="muted">|</span> <a href="#" class="m-l-10">Privacy Policy</a></span>
				</p>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- END COPYRIGHT -->
	</div>
	<!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->

